body {
  font-family: Montserrat;
  margin: 0;
}

.welcome {
  background-color: #2c3e50;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  display: flex;
}

.bootstrap {
  font-size: 30px;
  padding-right: 22rem;
  padding-left: 33rem;
}

.menu {
  font-size: 16px;
  padding-left: 29px;
  padding-top: 26px;
}

.menu:hover {
  color: #18bc9c;
}

.align-text {
  text-align: center;
}

.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
}

.start-bootstrap {
  margin-top: 5px;
  margin-bottom: 0px;
}

.star {
  width: 250px;
  height: 43px;
}

.text {
  font-family: lato;
  color: white;
  margin-top: 4px;
  font-size: 28px;
}

.portifolio-section {
  font-size: 40px;
  color:  #2c3e50;
}

.portifolio-img {
  width: 350px;
  height: 232px;;
  display: inline-block;
  margin: 6px;
}

.bottom-body {
  height: 724px;
  background-color: #18bc9c;
  color: white;
  font-size: 50px;
}

.about-section {
  color: white;
  margin-top: 10px;
}

.about {
  display:flex;
  margin-right: 16px;
  }
  
  .text1 {
  margin-left: 400px; 
  width: 500px;
  }

  .text2 {
    width: 500px;
  }

.dados input {
border: none;
width: 700px;
border-bottom: 1px solid gray;
}

.form {
  font-size: 28px;
  color: #6c7375;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.input {
  border-bottom: 1px solid gray;
}

.button {
  margin-top: 5%;
  width: 300px;
  height: 50px;

  border-radius: 5px;
  background-color: #18bc9c;
  color: white;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  font-size: 25px;;
  margin-bottom: 40px;

}

.button2 {
  margin-top: 5%;
  width: 170px;
  height: 50px;
  border:none;
  border-radius: 5px;
  background-color: #18bc9c;
  color: white;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 40px;
}

.container {
  max-width: 100%;
}
.flex {
  display:flex;
}

.item {
  margin: 5px;
  text-align: center;
  font-size: 1.5rem;
}

.end {
  background-color: #2c3e50;
  font-size: 28px;
  color: white;
  height: 316px;
}

.copyright {
  background-color: black;
  height: 80px;
  margin: 0; 
  color: white;
  text-align: center;
}
